<h2>Click on any one of the accounts to sign in.</h2>
<br/>
<table width='763px'>
	<tr>
		<td width='33%'>
			<form method="POST" action="https://chirp-saush.rpxnow.com/openid/start?token_url=http://chirp-chirp.heroku.com/login">
				<input type="hidden" name="openid_identifier" value="yahoo.com" />
				<input type="image" src='/yahoo.png' />
			</form>
		</td>

		<td width='33%'>
			<form method="POST" action="https://chirp-saush.rpxnow.com/openid/start?token_url=http://localhost:8080/login">
				<input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id" />
				<input type="image" src='/google.png' />
			</form>
		</td>

		<td width='33%'>
			<form method="POST" action="https://chirp-saush.rpxnow.com/liveid/start?token_url=http://chirp-chirp.heroku.com/login">
				<input type="image" src='/live.png' />
			</form>

		</td>
	</tr>
</table>